@using Destiny_Clan_Manager.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="~/favicon.ico?v=2" />
    <title>@ViewBag.Title - Destiny Clan Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'f88f0346-a0fa-4bbb-a0a6-41124cf2b1c7'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Destiny Clan Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["ChosenMembership"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                    else
                    {
                        var displayName = ((GetMembershipsResponse.Destinymembership)Session["ChosenMembership"]).displayName;
                        var platform = (GetMembershipsResponse.BungieMembershipType)((GetMembershipsResponse.Destinymembership)Session["ChosenMembership"]).membershipType;
                        var profilePath = Session["MemberIcon"]?.ToString();
                        string profileUrl = "https://www.bungie.net/" + profilePath;
                        <li><a href="@Url.Action("Logout", "Home")"><img src="@profileUrl" class="profileImage" /> @displayName (@platform)</a></li>
                        @*<li><img src="@profileUrl" class="profileImage" />@Html.ActionLink(String.Format("{0} ({1})", displayName, platform), "Logout", "Home", new { @class = "DisplayName" })</li>*@
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Demortes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/momentjs")
    @Scripts.Render("~/bundles/datatables")
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/site")
</body>
</html>